APP_BASE_URL
ASAAS_API_KEY
ASAAS_BASE_URL
EMAIL_MODO
EMAIL_TESTE_DESTINO
NEXT_PUBLIC_SUPABASE_ANON_KEY
NEXT_PUBLIC_SUPABASE_URL
SMTP_FROM
SMTP_HOST
SMTP_PASS
SMTP_PORT
SMTP_SECURE
SMTP_USER
SUPABASE_SERVICE_ROLE_KEY
SUPABASE_URL
